/* CSS-RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS-CSS */
:root{
  font-size: 62.5%;
  --bg-body: #f7f7f7;
  --bg-card: #E1E1E6;
  --bg-hover: #02799D;
}

body{
  background-color: var(--bg-body);
  font-family: 'Roboto', sans-serif;
}

button{
  background-color: transparent;
  border: none;
}

section .time, section .controls{
  margin-bottom: 4.8rem;
}

.container{
  width: 40rem;
  margin: 0 auto;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
}

/* FORMATAÇÃO SEÇÃO => TIME */
section .time span{
  font-size: 12rem;
}

/* FORMATAÇÃO SEÇÃO => CONTROLS */
section .controls{
  display: flex;
  gap: 4rem;
}

section .controls button{
  cursor: pointer;
}

section .controls button:hover svg path{
  fill: var(--bg-hover);
}

/* FORMATAÇÃO SEÇÃO => SONS */
section .sons{
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  width: 30.8rem;
}

section .sons button{
  background-color: var(--bg-card);
  border-radius: 24px;
  cursor: pointer;
  width: 13.8rem;
  height: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section .sons button .volume{
  width: 70%;
  margin-top: 3.2rem;
}

section .sons button:hover svg path{
  fill: white;
}

section .sons button:focus svg path{
  fill: white;
}

section .sons button:hover{
  background-color: var(--bg-hover);
}

section .sons button input[type = range]{
  background-color: #323238;
  border-radius: 5px;
  height: 4px;
  -webkit-appearance: none;
}

section .sons button:hover input[type = range]{
  background-color: #fff;
}

section .sons button:focus input[type = range]{
  background-color: #fff;
}

section .sons button input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background:  #323238;
  -webkit-appearance: none;
}

section .sons button:hover input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
}

section .sons button:focus input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
}

.active {
  background-color: var(--bg-hover) !important;
  fill: white;
}

@media (min-width: 1024px){

  .container{
    width: 82.1rem;
  }

  main{
    flex-direction: row;
  }

  section .controls{
    margin-bottom: 0;
  }

}